.topnavbar {
    position: fixed;
    top: 0;
    background-color: #D9D9D9;
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topnavbar p {
    margin-top: 15px;
}

.bottomnavbar {
    position: fixed;
    bottom: 0;
    background-color: #D9D9D9;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cta-popup {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    opacity: 0.9;
    border: solid;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}
