/********************* For all pages ***********************/
body {
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat&display=swap');
/* Fonts 
font-family: 'Lato', sans-serif; Headers
font-family: 'Montserrat', sans-serif; Body 
*/

/********************* Buttons ***********************/
.btn-light {
    background-color: #8a2be2;
    color: white;
}

.btn-light:hover {
    background-color: #ddcbff;
    color: #8a2be2;
}

.btn-info {
    background-color: #8a2be2;
    color: white;
    border: none !important;
}

.btn-info:hover {
    background-color: #ddcbff;
    color: #8a2be2;
}

.btn-primary {
    background-color: #8a2be2;
    color: white;
    border: none !important;
}

.btn-primary:hover {
    background-color: #ddcbff !important;
    color: #8a2be2;
}

.btn-secondary {
    background-color: #9e861e;
    color: white;
    border: none !important;
}

.btn-secondary:hover {
    background-color: #e2bf2b;
    color: black;
    border: none !important;
}

/********************* Nav bars ***********************/
.navTop {
    position: fixed;
    top: 0;
    background-color: #363142;
    color: white;
    height: 60px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: larger;
    /* z-index here to make sure bookmark button appears beneath it */
    z-index: 1;
}

.navTop p {
    margin-top: 15px;
}

#pageTitle {
    font-weight: bold;
    font-size: 20pt;
}

.navBottom {
    position: fixed;
    bottom: 0;
    background-color: #7a748b;
    color: white;
    height: 60px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

.navBottomButton:hover {
    transform: translateY(-5px);
}

.navTopButton:hover {
    transform: translateY(5px);
}

/********************* alerts.html ***********************/
#weatherNotificationContent {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    display: grid;
    background-image: linear-gradient(to bottom, #59516e, #7b738b, #ded6dc);
}

#forecast-container {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    min-height: 20%;
    background-color: #50a8b9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10pt;
    margin-bottom: 10pt;
    overflow-x: auto;

    /* give rounded corners */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#forecast-container td {
    padding: 4px;
}

#weatherAlertPlaceholder {
    overflow-y: auto;
}

/* Show the scrollbar when hovering over the element */
#forecast-container:hover::-webkit-scrollbar {
    display: block;
}
.weatherAlertPlaceholder:hover::-webkit-scrollbar {
    display: block;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #a3a3a380;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #eeeeee00;
}

.weatherAlert {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    /* rounded corners */
    border-radius: 10px;

    /* transparent background */
    background-color: transparent;
}

#weatherAlert {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    min-height: 40vh;
    background-color: white;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.weatherAlert img {
    /* rounded corners */
    border-radius: 10px;
}

/********************* tips.html ***********************/
#tipsContent {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 10px;
    /* height: calc(100vh - 120px); */

    background-image: linear-gradient(to bottom, #59516e, #7b738b, #b0a7b8);
    color: whitesmoke;
}

#tip {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 16pt;
}

/* #tip > h2,h3 {
    text-align: center;
} */

#tipHelpButton {
    /* min-height: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-bottom: 20px;

    /* width: 150px;
    height: 75px;
    font-size: 24pt; */
}

#tipSaveButton {
    position:absolute;
    top: 70px;
    left: 540px;
}
#tipSaveButton:hover {
    transform: translateY(-5px);
}

#tipForThisWeather img {
    /* rounded corners */
    border-radius: 10px;
}


/********************* savelist.html ***********************/
#saveListPlaceholder {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

#saveListPlaceholder>* {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    /* give rounded corners */
    border-radius: 10px;
}



/********************* login.html ***********************/
#container_logo_img {
    text-align: center;
    padding-bottom: 25px;
}

#Sign_up {
    text-align: center;
    padding-bottom: 10px;
}

#twitter {
    float: right;
}

.btn-primary {
    background-color: #8a2be2 !important;
}


#login_reset {
    text-decoration: none;
}

#login_signup {
    text-decoration: none;
}

/********************* signup.html ***********************/
.member {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.sign_in_button {
    text-align: center;
}

.divider d-flex align-items-center my-4 {
    text-align: center;
}

#register_form_check {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
}

#register_form_check_line {
    margin-top: -30px;
}

.agreement_line {
    font-family: 'Ubuntu', sans-serif;
}

#trader_specialtise {
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Responsive layout */
@media (min-width: 1000px) {
   
#signup_title {
    font-size: 25px;
  }

#signup_img img {
    display: none;
} 

body h3 {
    font-size: 20px;
}

body {
    font-size: 10px;
}

}

/* for terms and services */
#terms h1 {
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

#terms p {
    text-align: center;
    font-family: 'Shantell Sans', cursive;
}

/********************* profile.html ***********************/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+Syloti+Nagri&display=swap');

#profileContent {
    margin-top: 35%;
}


.container_profile {
    text-align: center;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.profile_item1 {
    padding: 3px;
    text-align: center;
}

.profile_item2 {
    padding: 3px;
    text-align: center;
}

.profile_item3 {
    padding: 3px;
    text-align: center;
}

.profile_pic_label {
    display: inline-block;
    cursor: pointer;
}

/* for reset page */
#resetcard {
    align-items: center;
    padding-top: 50%;
}

#reset_return {
    grid-gap: 10px;
    text-decoration: none;
}


/********************* trades pages ***********************/
.tradeColor {
    background-color: #f8f5ff;
}

.tradeColour {
    background-color: white;
    font-size: 14pt;
}

#tradeSelectContent {
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom, #59516e, #7b738b, #ded6dc);
}