@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat&display=swap');
/* Fonts 
font-family: 'Lato', sans-serif; Headers
font-family: 'Montserrat', sans-serif; Body 
*/


/* for all pages */
body {
    max-width: 600px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Button changes */
.btn-light{
    background-color: #8a2be2;
    color: white;
}
.btn-light:hover {
    background-color: #ddcbff;
    color: #8a2be2;
}

.btn-info{
    background-color: #8a2be2;
    color: white;
    border: none !important;
}

.btn-info:hover{
    background-color: #ddcbff;
    color: #8a2be2;
}
.btn-primary{
    background-color: #8a2be2;
    color: white;
    border: none !important;
}
.btn-primary:hover{
    background-color: #ddcbff;
    color: #8a2be2;
}

.btn-secondary{
    background-color: #9e861e;
    color: white;
    border: none !important;
}

.btn-secondary:hover{
    background-color: #e2bf2b;
    color: black;
}

/* for nav bars across all pages */
.navTop {
    position: fixed;
    top: 0;
    background-color: #8a2be2;
    color: white;
    height: 60px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: larger;
}

.navTop p {
    margin-top: 15px;
}

.navBottom {
    position: fixed;
    bottom: 0;
    background-color: #8a2be2;
    color: white;
    height: 60px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

/* for weather notifications pages */
#weatherNotificationContent {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    display:grid;
}

#forecast-container {
    grid-row:1;
    grid-column:1;
    width: 100%;
    min-height: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10pt;

    overflow-x: auto;
}

#forecast-container td {
    padding: 4px;
}

#weatherAlertPlaceholder {
    overflow-y: auto;
}

/* Show the scrollbar when hovering over the element */
#forecast-container:hover::-webkit-scrollbar {
    display: block;
}
.weatherAlertPlaceholder:hover::-webkit-scrollbar {
    display: block;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #a3a3a380;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #eeeeee00;
}

.weatherAlert {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    /* border-radius: 25px; */
    /* background: #73AD21; */
    /* padding: 10px; */
}

#weatherAlert {
    grid-row:2;
    grid-column:1;
    width: 100%;
    min-height: 40vh;
    background-color: white;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#previousNotifications {
    grid-row:3;
    grid-column:1;
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#previousNotificationsContent {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    display:grid;
}

#previousNotificationsContent > * {
    width: 100%;
    min-height: 40vh;
    display: block;
    text-align:center;
    justify-content: center;
    align-items: center;
}

#previousNotification1 {
    background-color: lightskyblue;
}
#previousNotification2 {
    background-color: lightseagreen;
}
#previousNotification3 {
    background-color: lightskyblue;
}

/* for tips page */
#tipsContent {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
}

#tip {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
    width: 100%;
    background-color: lightskyblue;
    padding-right: 20px;
    padding-left: 20px
}

/* #tip > h2,h3 {
    text-align: center;
} */

#tipSaveButton {
    position: absolute;
    top: 65px;
    left: 550px;
}

#tipHelpButton {
    grid-row: 6;
    grid-column: 2;
    /* min-height: 20%; */
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tipRatingButton {
    position: absolute;
    top: 70px;
    left: 440px;
}

/* for savelist page */
#saveListPlaceholder {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    display:grid;
    grid-template-rows: repeat(5, 1fr);
}
#saveListPlaceholder > * {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    /* give rounded corners */
    border-radius: 10px;  
}


/* for login page */
#container_logo_img {
    text-align: center;
    padding-bottom: 25px;
}

#Sign_up {
    text-align: center;
    padding-bottom: 10px;
}

#twitter {
    float: right;
}

.btn-primary {
    background-color: #8a2be2 !important;
  }


#login_reset {
    text-decoration: none;
}

#login_signup {
    text-decoration: none;
}
  

/* for register page */



.member {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.sign_in_button {
    text-align: center;
}

.divider d-flex align-items-center my-4 {
    text-align: center;
}

#register_form_check {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
}

#register_form_check_line {
    margin-top: -30px;
}

.agreement_line {
    font-family: 'Ubuntu', sans-serif;
}

#trader_specialtise {
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* for terms and services */
#terms h1{
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

#terms p{
    text-align: center;
    font-family: 'Shantell Sans', cursive;
}



/* for profile page */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+Syloti+Nagri&display=swap');

#profileContent {
        margin-top:50%;
}


.container_profile {
    text-align: center;
    border-radius: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.profile_item1 {
    padding: 3px;
    text-align: center;
}

.profile_item2 {
    padding: 3px;
    text-align: center;
}

.profile_item3 {
    padding: 3px;
    text-align: center;
}




/* for reset page */

#resetcard {
    align-items: center;
    padding-top: 50%;
}

#reset_return {
    grid-gap: 10px;
    text-decoration: none;
}






/* For Trade page */
.tradeColor{
    background-color: #f8f5ff;
}

.tradeColour{
    background-color: white;
}




