body {
    max-width: 500px;
    background-color: lightblue;
}

#contentContainer {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    display:grid;
}

#tip {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
    width: 100%;
    background-color: lightskyblue;

}

#save {
    grid-row: 6;
    grid-column: 1;
    /* min-height: 20%; */
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help {
    grid-row: 6;
    grid-column: 2;
    /* min-height: 20%; */
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ratings {
    position: absolute;
    top: 70px;
    left: 440px;
}