body {
    max-width: 500px;
    background-color: lightblue;
}

#contentContainer {
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    display:grid;
}

#forecast {
    grid-row:1;
    grid-column:1;
    width: 100%;
    min-height: 20%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification1 {
    grid-row:2;
    grid-column:1;
    width: 100%;
    min-height: 40vh;
    background-color: lightskyblue;
    display: block;
    text-align:center;
    justify-content: center;
    align-items: center;
}

#previousNotifications {
    grid-row:3;
    grid-column:1;
    width: 100%;
    min-height: 20%;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileImg{
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: fill;
}