#mainlanding {
    text-align: center;
    /* later try to make our logo the background
    currently not displaying correctly probably because overwritten by bootstrap CSS
    https://www.w3schools.com/cssref/pr_background-image.php 
    background-image: url("images/CASA_img.jpg");
    background-color: black; */
}